<nav class="dashbord-home-nav">
    <ul class="dashbord-home-menu">
        <li class="btn style-comb home-menu-element home-menu-element-1">1</li>
        <li class="btn style-comb home-menu-element home-menu-element-2">2</li>
        <li class="btn style-comb home-menu-element home-menu-element-3">3</li>
        <li class="btn style-comb home-menu-element home-menu-element-4">4</li>
        <li class="btn style-comb home-menu-element home-menu-element-5">5</li>
        <li class="deco style-comb deco-1"></li>
        <li class="deco style-comb deco-2"></li>
        <li class="deco style-comb deco-3"></li>
        <li class="deco style-comb deco-4"></li>
        <li class="deco style-comb deco-5"></li>
    </ul>
</nav>