

.dashbord-home-nav{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

.deco,
.home-menu-element{
    position: absolute;
    width: var(--comb-size);
    height: var(--comb-size);
    background-color: var(--color-orange-chaleur);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-blanc);
    border-radius: 12px;
    transition: 0.3s;
}

.home-menu-element:hover{
    background: radial-gradient(circle,var(--color-blanc),var(--color-orange-chaleur));
    color: var(--color-vert-milo);
    transform: scale(1.08);
}

.dashbord-home-menu{
    width: calc(var(--comb-size)*5);
    height: 220px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,120px);
    grid-auto-rows: 100px;
    gap: 10px;
    
}

.home-menu-element-1{
    top: 0;
    left: 0;
}

.home-menu-element-2{
    top: calc(var(--comb-size) / 2);
    left: var(--comb-size);
}

.home-menu-element-3{
    top: 0;
    left: calc(var(--comb-size) * 2);
}


.home-menu-element-6{
    top: 0;
    left: calc(var(--comb-size) * 3);
}

.home-menu-element-4{
    top: calc(var(--comb-size) / 2);
    left: calc(var(--comb-size) * 3);
}

.home-menu-element-5{
    top: 0;
    left: calc(var(--comb-size) * 4);
}

.deco{
    background: linear-gradient( transparent,transparent,var(--color-gris-clair)) ;
}

.deco-1{
    top: calc(var(--comb-size) + 10px);
    left: 0;
    background: linear-gradient( var(--color-gris-clair),transparent,transparent) ;
}

.deco-2{
    top: calc( (var(--comb-size) * -1/2) - 10px);
    left: calc(var(--comb-size));
}

.deco-3{
    top: calc(var(--comb-size) + 10px);
    left: calc(var(--comb-size)*2);
    background: linear-gradient( var(--color-gris-clair),transparent,transparent) ;
}

.deco-4{
    top: calc( (var(--comb-size) * -1/2) - 10px);
    left: calc(var(--comb-size)*3);
}

.deco-5{
    top: calc(var(--comb-size) + 10px);
    left: calc(var(--comb-size)*4);
    background: linear-gradient( var(--color-gris-clair),transparent,transparent) ;
}